	.pwd.lock
	.updated
	DIR_COLORS
	DIR_COLORS.256color
	DIR_COLORS.lightbgcolor
	GREP_COLORS
	NetworkManager/
	adjtime
	aliases
	aliases.db
	alternatives/
	anacrontab
	audisp/
	audit/
	bash_completion.d/
	bashrc
	centos-release
	centos-release-upstream
	chrony.conf
	chrony.keys
	cifs-utils/
	containers/
	cron.d/
	cron.daily/
	cron.deny
	cron.hourly/
	crontab
	crypttab
	csh.cshrc
	csh.login
	dbus-1/
	default/
	depmod.d/
	dhcp/
	dnf/
	docker/
	dracut.conf
	dracut.conf.d/
	e2fsck.conf
	environment
	ethertypes
	exports
	favicon.png
	filesystems
	firewalld/
	fstab
	fuse.conf
	gitignore
	groff/
	group
	group-
	grub.d/
	grub2.cfg
	gshadow
	gshadow-
	gss/
	gssproxy/
	host.conf
	hostname
	hosts
	hosts.allow
	hosts.deny
	idmapd.conf
	init.d
	inittab
	inputrc
	iproute2/
	issue
	issue.net
	krb5.conf
	ld.so.cache
	ld.so.conf
	ld.so.conf.d/
	libaudit.conf
	libnl/
	libuser.conf
	locale.conf
	localtime
	login.defs
	logrotate.conf
	logrotate.d/
	lvm/
	machine-id
	magic
	mailcap
	man_db.conf
	mc/
	mime.types
	mke2fs.conf
	modprobe.d/
	motd
	mtab
	netconfig
	networks
	nfs.conf
	nfsmount.conf
	nsswitch.conf
	nsswitch.conf.bak
	oci-register-machine.conf
	oci-umount.conf
	openldap/
	os-release
	pam.d/
	passwd
	passwd-
	pcp.conf
	pki/
	polkit-1/
	postfix/
	ppp/
	prelink.conf.d/
	printcap
	profile
	profile.d/
	protocols
	python/
	qemu-ga/
	rc.d/
	rc.local
	rc0.d
	rc1.d
	rc2.d
	rc3.d
	rc4.d
	rc5.d
	rc6.d
	redhat-release
	request-key.conf
	request-key.d/
	resolv.conf
	rhsm/
	rpc
	rpm/
	rsyncd.conf
	rsyslog.conf
	rsyslog.d/
	rwtab
	rwtab.d/
	samba/
	sasl2/
	securetty
	security/
	selinux/
	services
	sestatus.conf
	shadow
	shadow-
	shells
	skel/
	ssh/
	ssl/
	statetab
	subgid
	subgid-
	subuid
	subuid-
	sudo-ldap.conf
	sudo.conf
	sudoers
	sudoers.d/
	sysconfig/
	sysctl.conf
	sysctl.d/
	system-release
	system-release-cpe
	systemd/
	tcsd.conf
	tuned/
	udev/
	vconsole.conf
	virc
	vmware-tools/
	wgetrc
	wpa_supplicant/
	xdg/
	yum.conf
	yum.repos.d/
	yum/
